# Use the Google style in this project.
BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Left

IncludeBlocks: Merge
IncludeCategories:
- Regex: '^\"'
  Priority: 1000
- Regex: '^<.*/.*'
  Priority: 4000
- Regex: '^<[^/]*>'
  Priority: 5000